body {
  margin: 0;
  padding: 0;
  background-color: #c4c0f6;
}
#game_container {
  width: 600px;
  height: 300px;
  background-color: #ffffff;
  border: 5px solid #5f1374;
  margin: 2rem auto;
}
#block {
  width: 40px;
  height: 60px;
  background-color: #3014eb;
  position: relative;
  top: 240px;
  left: 560px;
  animation: move 2s linear infinite;
}

@keyframes move {
  100% {
    left: 0px;
  }
}
0% {
  left: 560px;
}

#danish {
  position: relative;
  top: 160px;
  left: 0px;
 

}
/* .danishjump{
    animation: jump_danish 500ms linear infinite;
} */
@keyframes jump_danish{
    0%{
        top:0px
    }
    40%{
     top: 90px;;

    }
    60%{
        top: 160px;;
    }
    100%{
        top:160px;
    }

}

#danish img {
    position: relative;
  height: 80px;
  width: 65px;
}

#result {
  height: 150px;
  width: 350px;
  background-color: rgb(233, 161, 205);
  margin: 1rem auto;
  text-align: center;
  border-radius: 20px;
  /* display: none; */

}
#result h1{
    color: hsl(322, 61%, 30%);
}
#score {
  font-size: 2.2rem;
  color: #5f1374;
}
#btn {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  background-color: black;
  color: #9fe4e9;
  font-size: 25px;
  margin-top: 5px;
  cursor: pointer;
  text-transform: uppercase;
}
